log4j.rootLogger =all,Console,ElasticSearch

## Required property - Define appender class
log4j.appender.ElasticSearch=org.log4elasticsearch.appender.Log4JElasticSearchAppender

### If using appender as a TransportClient to connect to remote clusters then follow 2 properties 
### are required. remoteClusterHosts is a comma seperated list of host:port form of ES clusters.
log4j.appender.ElasticSearch.remoteClusterHosts=192.168.1.101:9300
log4j.appender.ElasticSearch.clusterName=elasticsearch

#### Both these are required and define where the event is being logged in ES. In a typical env
### this could be product name + app name.
log4j.appender.ElasticSearch.index=log4jelastic
log4j.appender.ElasticSearch.type=appendertest

log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
